.DS_Store
node_modules
dist
public/dist
logs

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Editor directories and files
.idea
.run
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
